appdirs==1.4.3
colorama==0.3.9
packaging==16.8
py==1.10.0
pyfrc==2017.1.5
pynetconsole==1.3.1
pynetworktables==2017.0.8
pyparsing==2.2.0
pytest==3.0.7
robotpy-hal-base==2017.1.2
robotpy-hal-sim==2017.1.2
robotpy-installer==2017.1.4
robotpy-wpilib-utilities==2017.0.10
six==1.10.0
wpilib==2017.1.2
